In [1]:
import pandas as pd
import numpy as np

# Exercise 1

In [2]:
ds = pd.Series([20, 30, 15, 10], ['apples', 'bananas', 'cherries', 'dates'])
ds

apples      20
bananas     30
cherries    15
dates       10
dtype: int64

# Exercise 2

In [3]:
# df = pd.DataFrame({
#     'Quantity': [20, 30, 15, 10],
#     "Color": ['Red', 'Yellow', 'Red', 'Brown'],
#     "Price per ": [3, 2, 4, 5],
# }), index = ds

# df

In [4]:
fruit_names = ['Apples', 'banana', 'cherries', 'dates']

quantities = [20, 30, 15, 10]
colors = ['red', 'yellow', 'red', 'brown']
prices_per_kg = [3,2,4,5]
my_df = pd.DataFrame({
    'Quantity': quantities,
    'Colors': colors,
    'price_per_kg': prices_per_kg
}, index = fruit_names)
my_df

          Quantity  Colors  price_per_kg
Apples          20     red             3
banana          30  yellow             2
cherries        15     red             4
dates           10   brown             5

In [5]:
my_df.loc['Apples']

Quantity         20
Colors          red
price_per_kg      3
Name: Apples, dtype: object

In [6]:
my_df.iloc[1]

Quantity            30
Colors          yellow
price_per_kg         2
Name: banana, dtype: object

# Exercise 3

In [7]:
my_df.to_csv('my_df.csv')

# Exercise 4

In [8]:
my_df_readed = pd.read_csv('my_df.csv', index_col=0)
my_df_readed

          Quantity  Colors  price_per_kg
Apples          20     red             3
banana          30  yellow             2
cherries        15     red             4
dates           10   brown             5