In [5]:
import pandas as pd
import numpy as np

In [4]:
pd.Series(['A', 'B', 'C']) # - 1dim

0    A
1    B
2    C
dtype: object

In [6]:
df = pd.DataFrame({
    "Name": ["Yossi", "Anna", "Alexey"],
    "Color": ["Red", "Blue", "Yellow"],
    "Random": [10.0, np.nan, np.nan ]
}) # - 2 dim
df

     Name   Color  Random
0   Yossi     Red    10.0
1    Anna    Blue     NaN
2  Alexey  Yellow     NaN

In [7]:
df["Random"]

0    10.0
1     NaN
2     NaN
Name: Random, dtype: float64

# csv - cpma separeted values

In [9]:
df.to_csv('data.csv', index = False)