In [1]:
import pandas as pd
import numpy as np

# read DataFrame

In [2]:
df = pd.read_csv('my_df.csv', index_col=0)

In [3]:
df

          Quantity  Colors  price_per_kg
Apples          20     red             3
banana          30  yellow             2
cherries        15     red             4
dates           10   brown             5

In [5]:
df.head(2) # first rows

        Quantity  Colors  price_per_kg
Apples        20     red             3
banana        30  yellow             2

In [6]:
df.tail(2) # last rows

          Quantity Colors  price_per_kg
cherries        15    red             4
dates           10  brown             5

In [8]:
df.info() #basic info about dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Apples to dates
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Quantity      4 non-null      int64
 1   Colors        4 non-null      object
 2   price_per_kg  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 128.0+ bytes

In [9]:
df.describe()

        Quantity  price_per_kg
count   4.000000      4.000000
mean   18.750000      3.500000
std     8.539126      1.290994
min    10.000000      2.000000
25%    13.750000      2.750000
50%    17.500000      3.500000
75%    22.500000      4.250000
max    30.000000      5.000000

## Indexong the dataframe

In [11]:
# LOC - row selecting by index value
df.loc['dates']

Quantity           10
Colors          brown
price_per_kg        5
Name: dates, dtype: object

In [12]:
# ILOC - row selecting by numerical index
df.iloc[0]

Quantity         20
Colors          red
price_per_kg      3
Name: Apples, dtype: object

In [15]:
# slicing
df[0:3]

          Quantity  Colors  price_per_kg
Apples          20     red             3
banana          30  yellow             2
cherries        15     red             4

In [17]:
df[0:3]['price_per_kg']

Apples      3
banana      2
cherries    4
Name: price_per_kg, dtype: int64

In [23]:
df[0:3][['price_per_kg', 'Colors']]

          price_per_kg  Colors
Apples               3     red
banana               2  yellow
cherries             4     red

# adding, redanimg, removing

In [24]:
df['country'] = ['USA', 'USA', 'USA', 'Canada' ]

In [25]:
df

          Quantity  Colors  price_per_kg country
Apples          20     red             3     USA
banana          30  yellow             2     USA
cherries        15     red             4     USA
dates           10   brown             5  Canada

In [30]:
df.rename(columns={'price_per_kg': 'Price'}, inplace=True)

In [29]:
df

          Quantity  Colors  price country
Apples          20     red      3     USA
banana          30  yellow      2     USA
cherries        15     red      4     USA
dates           10   brown      5  Canada

In [36]:
df.drop('country', axis=1, inplace=True)
df

          Quantity  Colors  price
Apples          20     red      3
banana          30  yellow      2
cherries        15     red      4
dates           10   brown      5